.banner {
  color: white;
  object-fit: contain;
  height: 450px;
}

.banner_contents {
  margin-left: 30px;
  padding-top: 150px;
  height: 190px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

.banner_button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 1rem;
  transition: transform .45s ;
}

.banner_button:hover {
  color: black;
  background-color: #e6e6e6;
  transition: all 0.2s;
  transform: scale(1.20);
}

.banner_gradient {
  height: 7rem;
  background-image: linear-gradient( 180deg,transparent, rgba(37,37,37,0.61), #111)
}
