.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  height: 40px;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: black;
}

.netflix_logo {
  width: 80px;
  object-fit: contain;
  position: fixed;
  left: 20px;
  top: 30px;
}

.netflix_avatar {
  width: 40px;
  object-fit: contain;
  position: fixed;
  right: 20px;
}