.row {
  margin-left: 20px;
  color: white;
}

.posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.posters::-webkit-scrollbar {
  display: none;
}

.small_poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 0.6rem;
}

.small_poster:hover {
  transform: scale(1.09);
}

.large_poster {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 0.6rem;
}

.large_poster:hover {
  transform: scale(1.10);
}
